---
import Layout from "../layouts/Layout.astro";
import Projects from "../components/Projects.astro";
import Navbar from "../components/Navbar.astro";
import Container from "../components/Container.astro";
import GithubIcon from "../icons/GithubIcon.astro";
import LinkedinIcon from "../icons/LinkedinIcon.astro";
import Experience from "../components/Experience.astro";

import technologies from "../data/technologies";

import { getI18N } from "@/i18n/"

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })

---

<Layout title="Alain Pereida Prado">
  <!-- <Navbar /> -->
  <main class="h-screen">
    <Container class="bg-gray-900 h-full w-full">
      <div class="h-full container mx-auto md:container px-8 grid items-center">
        <div class="grid grid-cols-1 md:grid-cols-2">
          <div id="home" class="md:mt-14 md:mx-14 text-end">
            <h1 class="text-5xl font-bold">
              Soy <span class="text-secondary">Alain Pereida Prado</span>
            </h1>
            <h2 class="text-2xl font-bold text-secondary">Desarrollador Web</h2>

            <h2 class="text-xl mt-2 mb-5">
              +3 años de experiencia en el desarrollo de aplicaciones web y
              backend.
            </h2>
            <a
              href="/documents/Alain Pereida Prado - CV.pdf"
              target="_blank"
              class="bg-secondary rounded-lg text-black font-bold my-6 py-4 px-8"
              >Descarga mi CV</a
            >
            <div
              class="flex fill-white mt-6 gap-5 transition-all justify-end md:hidden"
            >
              <a
                href="https://github.com/alainpereida"
                target="_blank"
                class="transition hover:fill-secondary"
              >
                <GithubIcon />
              </a>
              <a
                href="https://www.linkedin.com/in/alain-pereida-prado-64b45b1b7"
                target="_blank"
                class="transition hover:fill-secondary"
              >
                <LinkedinIcon />
              </a>
            </div>
          </div>

          <div class="hidden md:block text-center md:text-start">
            <div class="hidden md:flex md:justify-start">
              <img
                class="rounded-2xl my-6"
                src="img/alain.png"
                alt="Author Page"
                width="350"
              />
            </div>
            <div
              id="social-networks"
              class="flex fill-white justify-center gap-5 transition-all md:justify-start"
            >
              <a
                href="https://github.com/alainpereida"
                target="_blank"
                class="transition hover:fill-secondary"
              >
                <GithubIcon />
              </a>
              <a
                href="https://www.linkedin.com/in/alain-pereida-prado-64b45b1b7"
                target="_blank"
                class="transition hover:fill-secondary"
              >
                <LinkedinIcon />
              </a>
            </div>
          </div>
        </div>
      </div>
    </Container>
    <Container class="mx-auto max-w-screen-xl py-12 font-sans">
      <h2 class="text-6xl font-bold text-center my-8">Proyectos</h2>
      <Projects />
    </Container>
    <Container class="bg-gray-900 w-full inline-block pb-12">
      <div
        class="h-full mx-auto max-w-screen-xl py-12 font-sans md:px-12 md:py-20 lg:px-24 lg:py-0"
      >
        <h2 class="text-6xl font-bold text-center my-8">Experiencia</h2>
        <Experience />
      </div>
    </Container>
    <Container class="mx-auto max-w-screen-xl py-12 font-sans">
      <h2 class="text-6xl font-bold text-center my-8">Skills</h2>
      <div>
        <ul class="mt-2 flex flex-wrap" aria-label="Technologies know:">
          {
            technologies.map((tech) => (
              <li class="mr-1.5 mt-2">
                <div class="flex items-center rounded-full bg-teal-400/10 px-6 py-3 text-2xl font-light leading-5 text-teal-300">
                  {tech.tech}
                </div>
              </li>
            ))
          }
        </ul>
      </div>
    </Container>
  </main>
</Layout>
