---

---

<ol class="relative border-s border-secondary">
  <li class="mb-10 ms-4">
    <div
      class="absolute w-3 h-3 bg-secondary rounded-full mt-1.5 -start-1.5 border border-secondary"
    >
    </div>
    <time class="mb-1 text-sm font-normal leading-none text-gray-400"
      >Febrero 2024 - Actual</time
    >
    <h3 class="text-lg font-semibold text-secondary">
      .NET Developer | <span class="text-white">Reliant Parking</span>
    </h3>
    <p
      class="mb-4 text-base font-normal text-white leading-6"
      style="text-wrap: balance;"
    >
      Participación en desarrollo y mantenimiento de aplicaciones web y móviles.
      Usando soluciones con tecnologías .NET, .NET Core, C#, SQL Server, AWS,
      Vue.js, entre otras. Implementación de servicios RESTful. Uso de scrum.
      Integración de sistema de generación de pdf.
    </p>
  </li>
  <li class="mb-10 ms-4">
    <div
      class="absolute w-3 h-3 bg-secondary rounded-full mt-1.5 -start-1.5 border border-secondary"
    >
    </div>
    <time class="mb-1 text-sm font-normal leading-none text-gray-400"
      >Septiembre 2022 - Febrero 2024 / Freelancer
    </time>
    <h3 class="text-lg font-semibold text-secondary">
      Web Developer | <span class="text-white">Pixzelle Studio</span>
    </h3>
    <p
      class="mb-4 text-base font-normal text-white leading-6"
      style="text-wrap: balance;"
    >
      Participación en desarrollo de software, usando soluciones monolíticas y
      microservicios, entregando desarrollos de RESTful API con más de 100,000
      usuarios, configuración de optimización de los recursos de servidores, uso
      de scrum.
    </p>
  </li>
  <li class="mb-10 ms-4">
    <div
      class="absolute w-3 h-3 bg-secondary rounded-full mt-1.5 -start-1.5 border border-secondary"
    >
    </div>
    <time class="mb-1 text-sm font-normal leading-none text-gray-400"
      >Octubre 2022 - Agosto 2021</time
    >
    <h3 class="text-lg font-semibold text-secondary">
      Desarrollador de Software | <span class="text-white">Inercy</span>
    </h3>
    <p
      class="mb-4 text-base font-normal text-white leading-6"
      style="text-wrap: balance;"
    >
      Participación en el desarrollo de un sistema de monitoreo de drones
      autónomos llevándolo a producción, trabajé en una aplicación móvil hecha
      en android y un sistema web realizado en ASP.NET Core, realizando
      despliegues de aplicación como capacitación a personal.
    </p>
  </li>
  <li class="mb-10 ms-4">
    <div
      class="absolute w-3 h-3 bg-secondary rounded-full mt-1.5 -start-1.5 border border-secondary"
    >
    </div>
    <time class="mb-1 text-sm font-normal leading-none text-gray-400"
      >Enero 2022 - Marzo 2021</time
    >
    <h3 class="text-lg font-semibold text-secondary">
      Practicante | <span class="text-white">Honeywell</span>
    </h3>
    <p
      class="mb-4 text-base font-normal text-white leading-6"
      style="text-wrap: balance;"
    >
      Elaboración de reportes de alto desempeño con las métricas de la empresa.
      Encargado de encontrar mejoras en los reportes y proporcionar ideas para
      nuevos reportes.
    </p>
  </li>
</ol>
