---

---

<nav class="container mx-auto">
    <ul class="flex justify-end">
        <li class="p-4 rounded-lg transition hover:text-secondary"><a href="#">Home</a></li>
        <li class="p-4 rounded-lg transition hover:text-secondary"><a href="#last_works">Últimos trabajos</a></li>
        <li class="p-4 rounded-lg transition hover:text-secondary"><a href="#experience">Experiencia</a></li>
    </ul>
</nav>